altair==4.2.2
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
exceptiongroup
fonttools
gitdb
gitpython
google-auth
google-genai
h11
httpcore
httpx
idna
importlib-resources
jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
lightgbm
markupsafe
matplotlib
narwhals
numpy
packaging
pandas
pillow
pip
plotly
protobuf==3.20.3
pulp
pyarrow
pyasn1
pyasn1-modules
pydantic
pydantic-core
pydeck
pyparsing
python-dateutil
python-dotenv
pytz
referencing
requests
rpds-py
rsa
scikit-learn==1.6.1
scipy
seaborn
setuptools
six
smmap
sniffio
streamlit
tenacity
threadpoolctl
toml
tornado
typing-extensions
typing-inspection
tzdata
urllib3
uv
websockets
wheel
xgboost
zipp
